body{
background-image: URL(.../images/background.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
height: auto;
color: white;
background-attachment: fixed;
overflow-x: hidden;
position: relative;
}

input{
    color: black
}

.corpo{
    margin: 700px;
}